.nav {
   grid-area: n;
   background-color: #222629;
   }
 
   .item {
    margin-left: 10px;
    color: #86C232;
    font-weight: bold;
    font-family: cursive;
   }

   .item.active {
      color: gold;
   }