.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr;
    color:white;
}


.dialog {
    padding: 5px;
}

.dialogsItems.active {
    color: yellow;
}

.messages .message {
    padding: 5px;
    color:white;
}
